$mainRed: #cf4f48;
$mainOrange: #ebae82;
$mainDarkBrown: #382e2f;
$mainBase: #e9e0e0;

$secondaryLightGrey: #c3b2b2;
$secondaryLightOrange: #e0bda3;
$secondaryBrown: #6b4845;
$secondaryCream: #e1dada;
$secondaryLightRed: #cf726d;
$secondaryDirtyRed: #a3706d;
