@import './_variables.scss';
@import './_mixins.scss';

.totalContainer {
  margin-bottom: 100px;

  @media screen and (min-width: 1130px) {
    margin: 0 auto 200px auto;
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  @include size(230px, auto);
  margin: 40px 0 40px 20%;
  @include font-setting('Open Sans', normal, 400, 44px, 48px, 0.01em, $mainRed);

  @media screen and (min-width: 375px) {
    @include size(253px, auto);
  }

  @media screen and (min-width: 768px) {
    @include size(285px, auto);
    margin-left: 25%;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 30%;
  }

  @media screen and (min-width: 1130px) {
    font-size: 60px;
    line-height: 68px;
    margin: 52px 0 0 45%;
  }
}

.imgDescriptionContainer {
  @media screen and (min-width: 1130px) {
    display: flex;
  }
}

.imgContainer {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
  height: 290px;
  cursor: pointer;

  @media screen and (min-width: 375px) {
    height: 368px;
  }

  @media screen and (min-width: 425px) {
    @include size(368px, 368px);
  }

  @media screen and (min-width: 768px) {
    @include size(498px, 498px);
  }

  @media screen and (min-width: 1130px) {
    margin: 0;
    margin: 0 20px 0 280px;
    align-self: flex-end;
  }
}

.descriptionContainer {
  margin-left: 30%;

  @media screen and (min-width: 1024px) {
    margin-left: 30%;
  }

  @media screen and (min-width: 1130px) {
    @include size(305px, auto);
    margin-left: 0;
    align-self: flex-end;
    // padding-top: 50px;
  }

  .description {
    display: flex;
    margin-bottom: 20px;
    @include font-setting('Open Sans', normal, 400, 18px, 24px, 0.01em, $mainDarkBrown);
    text-transform: lowercase;

    @media screen and (min-width: 1130px) {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .price {
    display: flex;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $mainDarkBrown;

    @media screen and (min-width: 1130px) {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
