@import './_variables.scss';
@import './_mixins.scss';

.editDeleteIconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
//   @include size(325px, auto);
}

.icon {
  position: relative;
  @include size(46px, 46px);
}

.iconLine {
  position: relative;
  @include size(2px, 46px);
}

.deleteIconContainer {
  position: relative;
  @include size(29px, 32px);
}
