@import './_variables.scss';

.wrapper {
  max-width: 1440px;
  padding: 0 15px;
  display: flex;
  width: 100%;
  min-height: 100%;

  flex-direction: column;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
}

.titleHolder {
  width: 100%;
  padding-left: 115px;
  margin-bottom: 69px;
  @apply flex flex-col;

  @media screen and (min-width: 768px) {
    padding-left: 173px;
    margin-bottom: 120px;
    @apply flex flex-row items-end;
  }

  @media screen and (min-width: 1440px) {
    margin: 52px 0 80px 518px;
  }
}

.title {
  display: flex;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 20px;
  }
}

.subTitle {
  display: flex;
}

.asideContainer {
  ///////////////////////////////Переделать!!!
  display: none;

  @media screen and (min-width: 768px) {
    display: block; /////////////////!!!!
    width: 300px;
    margin-right: 80px;
  }

  @media screen and (min-width: 1440px) {
    width: 400px;
    margin-right: 80px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  width: 100%;
  display: grid;
  height: auto;
  @apply h-fit;

  @media screen and (min-width: 768px) {
    width: 350px;
  }
  @media screen and (min-width: 1024px) {
    width: 400px;
  }
  @media screen and (min-width: 1440px) {
    width: 460px;
  }
}

.img {
  width: 100%;
  height: auto;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }
}

.galleryLists {
  margin-bottom: 60px;
}

.galleryList {
  color: #000; ////////////////////!!!!!!!!
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px;

  &:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    background-color: #edc3c3; //////////////////////!!!!
    border-radius: 15px;
  }

  &.active {
    border-bottom: 1px solid $mainRed;
    font-weight: 600;
  }
}

.galleryText {
  width: 100%;
  color: $mainDarkBrown;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: justify;
  padding-left: 10px;
}

.gallerySection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @apply md:flex-row;
}
