@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e9e0e0;
  color: #fff;
  font-size: 20px;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

main {
  padding-top: 80px;
}

header,
footer {
  min-height: 80px;
}

header {
  background-image: linear-gradient(to bottom, rgba(230, 226, 226, 0.5), rgba(233, 223, 223, 1.9));
  background-color: #f49797;
  display: flex;
  align-items: center;
  //   padding: 0 20px;
}

footer {
  background: #cf726d;
  border-radius: 240px 240px 0px 0px;
  //   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}

.wrapper {
//   max-width: 1240px;
  //   border: 1px solid red;
}
