.container {
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  position: relative;
//   border: 1px solid red;

  @media screen and (min-width: 1130px) {
    flex-direction: row-reverse;
  }
}

.part1 {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1130px) {
    width: 75%;
  }

  .img {
    position: relative;
    object-fit: contain;
    align-self: flex-end;
    width: 245px;
    height: 240px;
    margin: 40px 0 100px 0;

    @media screen and (min-width: 375px) {
      width: 275px;
      height: 270px;
    }

    @media screen and (min-width: 425px) {
      align-self: center;
      width: 306px;
      height: 300px;
    }

    @media screen and (min-width: 768px) {
      width: 479px;
      height: 470px;
    }

    @media screen and (min-width: 1024px) {
      align-self: center;
      margin-left: 160px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1130px) {
      align-self: flex-start;
      margin-left: 0;
      margin-bottom: 0;
      width: 670px;
      height: 654px;
    }

    @media screen and (min-width: 1440px) {
      margin-left: 80px;
      width: 670px;
      height: 654px;
    }
  }

  .logo {
    width: 270px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 0;

    @media screen and (min-width: 375px) {
      top: 28%;
    }

    @media screen and (min-width: 425px) {
      width: 358px;
      height: 265px;
      top: 25%;
    }

    @media screen and (min-width: 768px) {
      width: 378px;
      height: 280px;
      top: 38%;
      left: 10%;
    }

    @media screen and (min-width: 1024px) {
      top: 29%;
      left: 17%;
    }

    @media screen and (min-width: 1130px) {
      top: 37%;
      left: 19%;
    }

    @media screen and (min-width: 1440px) {
      top: 45%;
      left: 24%;
    }
  }

  .text {
    position: relative;
    width: 204px;
    height: 32px;
    margin: 0 0 55px 50px;

    @media screen and (min-width: 375px) {
      margin-left: 70px;
    }

    @media screen and (min-width: 425px) {
      margin: 30px 0 55px 85px;
    }

    @media screen and (min-width: 768px) {
      margin: 0 auto;
    }

    @media screen and (min-width: 1024px) {
      width: 255px;
      height: 40px;
    }

    @media screen and (min-width: 1130px) {
      position: absolute;
      bottom: 80px;
      right: 5px;
    }

    @media screen and (min-width: 1440px) {
      position: absolute;
      bottom: 40px;
      right: 15px;
    }
  }
}

.part2 {
  @media screen and (min-width: 1130px) {
    width: 25%;
    align-self: center;
    justify-self: center;
    margin-left: 110px;
  }

  .scroll {
    position: relative;
    width: 64px;
    height: 152px;

    @media screen and (min-width: 1130px) {
      margin-top: 230px;
    }
  }
}
