.links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  //   height: 100%;
  //   display: none;

  @media screen and (min-width: 1440px) {
    display: block;
  }

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #6b4845;

    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;

    &.active {
      color: #cf4f48;
    }

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}
