.links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
  //   height: 100%;
  //   display: none;

  @media screen and (min-width: 1440px) {
    display: block;
  }

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #6b4845;

    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;

    &.active {
      color: #cf4f48;
    }

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}

/////////////////
// .hide {
//   display: none;
// }

// .burger {
//   padding: 10px;
//   border: 1px solid;
//   border-radius: 10px;
//   width: 20px;
//   height: 20px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
// }

// .burgerClose {
//   display: none;
// }

// // .burger.open .burger__close {
// //     display: block;
// // }

// .burger {
//   &.open {
//     .burgerСlose {
//       display: block;
//     }
//   }
// }

// // .burger.open .burger__open {
// //   display: none;
// // }
// .burger {
//   &.open {
//     .burgerOpen {
//       display: none;
//     }
//   }
// }

// .nav {
//   background: rgba(0, 0, 0, 0.603);
//   padding: 20px;
//   position: fixed;
//   width: 100vw;
//   height: 100vh;
//   top: 0;
//   left: 0;

//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .modal {
//   background: #e9e0e0;
//   padding: 20px;
//   border-radius: 20px;
//   width: 200px;
//   //   height: 851px;
//   position: relative;
// }

// .modalClose {
//   position: absolute;
//   top: 0;
//   right: 0;
//   cursor: pointer;
// }

// .hide {
//   display: none;
// }
