@import './_variables.scss';

.links {
  display: flex;
  justify-content: flex-end;

  a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $secondaryBrown;
    //color: #6b4845;

    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;

    &.active {
      color: $mainRed;
    }

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}

.linksMobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $mainBase;
  padding-top: 27px;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  //background: #e9e0e0;

  &.open {
    transition: 1s ease-in-out;
    transform: translateX(0);
  }

  a {
    align-self: self-start;
    font-size: 20px;
    line-height: 24px;
    color: $secondaryBrown;
    // color: #6b4845;
    padding-left: 15px;
    margin-bottom: 20px;

    @media screen and (min-width: 375px) {
      padding-left: 25px;
    }

    &:hover {
      color: $mainRed;
      //filter: brightness(0.3);
    }
  }

  .line {
    border-top: 1px solid $mainRed;
    margin-bottom: 20px;
    margin-right: 15px;
  }

  .buttonClose {
    align-self: self-end;
    margin: 0 20px 23px 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
