@import './_variables.scss';

.location {
  @apply flex items-center hover:cursor-pointer;
}

.locationIcon {
  margin-right: 15px;
  font-size: 25px;
  color: $mainRed;
  &:hover {
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
  }
}

.locationText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $secondaryBrown;
  //color: #6b4845;
}