.titleHolder {
  @apply flex flex-col;
  width: 100%;
  padding: 40px 0 60px 0;

  @media screen and (min-width: 768px) {
    @apply flex flex-row items-end;
    padding: 52px 0 80px 172px;
  }
}

.title {
  transform: translate3d(0, 0, 0);
  width: 117px;
  height: auto;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    width: 156px;
    height: auto;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.subTitle {
  transform: translate3d(0, 0, 0);
  width: 225px;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 281px;
  }
}
