.totalTitleHolder {
  @apply flex flex-col;
  padding: 40px 15px 60px 15px;
  //margin-left: 65px;

  @media screen and (min-width: 390px) {
    // margin-left: 100px;
  }

  @media screen and (min-width: 768px) {
    @apply flex-row items-end;
    // @apply flex flex-row items-end;
    padding: 52px 0 80px 172px;
    // margin-left: 172px;
  }
}

.titleContainer {
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 117px;
  height: 60px;
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    width: 117px;
    height: 68px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.subTitleContainer {
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 225px;
  height: 32px;

  @media screen and (min-width: 768px) {
    width: 281px;
    height: 40px;
  }
}
