@import './_variables.scss';

.detailsHolder {
  padding: 0 15px;
  //   margin: 0 7px 0 70px;

  @media screen and (min-width: 390px) {
    // margin-left: 100px;
  }

  @media screen and (min-width: 1130px) {
    width: 325px;
    padding: 0;
    // margin-left: 0;
  }
}

.menuText {
  text-align: right;
  width: 253px;
  //width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: $secondaryBrown;
  //color: #6b4845;
  margin-bottom: 16px;
  margin-left: 35px;

  @media screen and (min-width: 375px) {
    margin-left: 90px;
  }

  @media screen and (min-width: 390px) {
    margin-left: 100px;
  }

  @media screen and (min-width: 1130px) {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    font-size: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
