@import './_variables.scss';

.wrapper {
  max-width: 1440px;
  padding: 0 0 0 15px;
  display: flex;
  width: 100%;

  flex-direction: column;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
}

.menuContainer {
  display: flex;
  width: 100%;
  margin-bottom: 100px;

  @apply flex flex-col;

  @media screen and (min-width: 768px) {
    margin-bottom: 207px;
  }
}

///////////////////////////////////////////////////
.swiper {
  display: flex;
  width: 100%;
  height: auto;

  @media screen and (min-width: 1024px) {
    width: 75%;
  }
}

.slide {
  width: 250px;
  display: flex;
  align-items: center;

  //   justify-content: center;

  @media screen and (min-width: 768px) {
    width: 250px;
  }

  @media screen and (min-width: 1024px) {
    width: 325px;
  }
}
////////////////////////Повторяется!!!!!!!!!!!!!!!!!!!
.card {
  width: 100%;

  border-radius: 5px;
  border: 1px solid #c4b2b2;
  background: linear-gradient(to bottom, rgba(233, 223, 223, 0.7) 0%, rgba(245, 155, 155, 0.5));
  box-shadow: 0px 30px 60px -5px #000;
  font-size: 20px;
  color: #000;

  &.avalible {
    background: linear-gradient(
      to bottom,
      rgba(210, 209, 213, 0.9) 0%,
      rgba(132, 130, 132, 0.9) 100%
    );
  }

  @media screen and (min-width: 768px) {
    // width: 325px;
    // grid-template-columns: 1fr 1fr;
  }
}
///////////////////////////////////////////////

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.11);

  @media screen and (min-width: 768px) {
    width: 250px;
  }

  @media screen and (min-width: 1024px) {
    width: 325px;
  }

  &:hover {
    cursor: pointer;
    // transform: scale(1.1);
    // transition: all 0.5s ease-in-out;
  }
}

.btnAdd {
  ////////////////повторяется во многих местах!!!!!!!
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(236, 111, 111, 0.7);
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
    background-color: #cb5149;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
}

////////////////////

.iconHolder {
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.swiperContainer {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}
.link {
  margin: 34px 0 0 94px;
  display: flex;

  @media screen and (min-width: 1440px) {
    margin-left: 0;
    align-self: flex-end;
  }

  .text {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 28px;
    color: $mainDarkBrown;

    @media screen and (min-width: 1440px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.imgContainer {
  position: relative;
  width: 173px;
  height: 10px;

  @media screen and (min-width: 1440px) {
    width: 324px;
  }

  @apply flex flex-col;
}
