.detailsHolder {
}
.menuText {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  color: #6b4845;
  margin-bottom: 20px;
  padding-left: 10px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
