.menuLists {
  margin: 0 0 40px 60px;

  @media screen and (min-width: 390px) {
    margin: 0 0 40px 100px;
  }

  @media screen and (min-width: 768px) {
    margin-left: 250px;
    // padding-left: 0;
    // margin-bottom: 60px;
  }

  @media screen and (min-width: 1130px) {
    margin-left: 0;
    margin-bottom: 60px;
    // padding-left: 0;
  }
}

.menuList {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: table;
  align-items: center;
  color: #382e2f;
  padding: 10px 10px 10px 0;
  cursor: pointer;

  &.active {
    font-weight: 600;
    border-bottom: 1px solid #cf4f48;
  }

  @media screen and (min-width: 768px) {
    // font-size: 24px;
    // line-height: 24px;
    // margin-bottom: 30px;
  }

  @media screen and (min-width: 1130px) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 30px;
    display: flex;
  }
}
