@import './_variables.scss';
@import './_mixins.scss';

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1130px) {
    padding: 0 40px;
  }
}

.arrowImgFormContainer {
  @media screen and (min-width: 1130px) {
    display: flex;
    gap: 116px;
  }
}

.imgEditingContainer {
  @media screen and (min-width: 1130px) {
    padding: 12px 12px;
    border: 1px solid $secondaryLightGrey;
    margin-left: 97px;
  }
}

.imgContainer {
  position: relative;
  transform: translate3d(0, 0, 0);
  @include size(265px, 265px);
  align-self: self-end;
  margin-bottom: 20px;

  @media screen and (min-width: 425px) {
    align-self: center;
  }

  @media screen and (min-width: 1130px) {
    @include size(301px, 360px);
  }
}

.nameContainer {
  @include font-setting('Open Sans', normal, 500, 24px, 24px, 0.001em, $mainDarkBrown);
  margin-bottom: 8px;
}

.weightCostContainer {
  @include font-setting('Open Sans', normal, 400, 20px, 24px, 0.001em, $mainDarkBrown);
  margin-bottom: 20px;
}
