@import './_variables.scss';
@import './_mixins.scss';

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1130px) {
    padding: 0 40px;
  }
}

.imgContainer {
  position: relative;
  transform: translate3d(0, 0, 0);
  @include size(265px, 265px);
  align-self: self-end;
  margin-bottom: 40px;

  @media screen and (min-width: 425px) {
    align-self: center;
  }
}
