@import './_mixins.scss';

.totalTitleHolder {
  @apply flex gap-2 items-end;
  margin: 40px auto 40px 60px;

  @media screen and (min-width: 390px) {
    margin-left: 100px;
  }

  @media screen and (min-width: 768px) {
    @apply gap-5;
    margin-left: 300px;
  }

  @media screen and (min-width: 1130px) {
    margin: 52px auto 40px 538px;
  }
}

.titleContainer {
  position: relative;
  transform: translate3d(0, 0, 0);
  @include size(123px, 96px);
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    @include size(171px, 136px);
  }
}

.subTitleContainer {
  position: relative;
  transform: translate3d(0, 0, 0);
  @include size(92px, 32px);
  //   width: 92px;
  //   height: 32px;

  @media screen and (min-width: 768px) {
    @include size(115px, 40px);
    // width: 115px;
    // height: 40px;
  }
}
