@import './_mixins.scss';
@import './_variables.scss';

.formDecorContainer {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 390px) {
    @include size(352px, auto);
  }

  @media screen and (min-width: 1130px) {
    margin: 0;
    @include size(480px, auto);
  }

  @media screen and (min-width: 1440px) {
    @include size(630px, auto);
  }
}

// .validButton {
//   opacity: 100%;
// }

// .invalidButton {
//   opacity: 50%;
// }

.error {
  color: $mainRed;
}

.title {
  width: 100%;
  @include font-setting('Open Sans', normal, 600, 22px, 24px, 0.01em, $secondaryBrown);
  margin-bottom: 32px;

  @media screen and (min-width: 1130px) {
    @include size(477px, auto);
    font-size: 24px;
    margin-bottom: 80px;
  }
}

.subTitle {
  @include font-setting('Open Sans', normal, 500, 19px, 28px, 0.001em, $mainRed);
  width: 100%;
  margin-bottom: 16px;

  @media screen and (min-width: 1130px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.radio {
  @include font-setting('Open Sans', normal, 400, 14px, 22px, 0.01em, $secondaryBrown);
  width: 150px;
  margin-right: 12px;
  @media screen and (min-width: 390px) {
    margin-right: 16px;
    width: 205px;
  }
}

.price {
  @include font-setting('Open Sans', normal, 400, 17px, 24px, 0.001em, $secondaryBrown);
  @media screen and (min-width: 390px) {
    font-size: 18px;
  }
}

.radioWrapper {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;

  &:nth-child(4) {
    margin-bottom: 40px;
  }

  &:nth-child(3) {
    margin-bottom: 20px;
  }

  &:hover {
    .checkmark,
    .checkmarkForCheckbox {
      border: 2px solid $secondaryBrown;
    }
  }

  .input:checked {
    ~ .checkmark::after {
      display: block;
    }
    ~ .checkmarkForCheckbox::before,
    ~ .checkmarkForCheckbox::after {
      display: block;
      border: 1px;
    }
  }

  .checkmark::after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $mainRed;
  }

  .checkmarkForCheckbox::before,
  .checkmarkForCheckbox::after {
    content: '';
    position: absolute;
    display: none;
  }

  .checkmarkForCheckbox::before {
    @include size(14px, 2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 2px;
    background-color: $secondaryLightRed;
  }

  .checkmarkForCheckbox::after {
    @include size(14px, 2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 2px;
    background-color: $secondaryLightRed;
  }

  @media screen and (min-width: 1130px) {
    @include size(416px, auto);
    margin-bottom: 20px;

    &:nth-child(4) {
      margin-bottom: 80px;
    }

    &:nth-child(3) {
      margin-bottom: 40px;
    }
  }
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  @include size(24px, 24px);
  background-color: transparent;
  border: 1px solid $secondaryBrown;
  border-radius: 50%;
}

.checkmarkForCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  @include size(24px, 24px);
  background-color: transparent;
  border: 1px solid $secondaryBrown;
}

.addCandles {
  //   width: 290px;
  @include size(290px, auto);
  @include font-setting('Open Sans', normal, 400, 16px, 22px, 0.001em, $secondaryBrown);

  @media screen and (min-width: 1130px) {
    width: 100%;
    // @include size(380px, auto);
  }
}

.btnAdd {
  @include size(262px, auto);
}
