@import './_variables.scss';
@import './_mixins.scss';

.totalContainer {
  @media screen and (min-width: 1130px) {
    margin: 0 auto;
  }
}

.wrapper {
  max-width: 1440px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  //   margin: 0 auto;

  @media screen and (min-width: 1130px) {
    padding: 0 40px;
  }
}

.imgContainer {
  position: relative;
  transform: translate3d(0, 0, 0);
  @include size(265px, 265px);
  align-self: self-end;
  margin-bottom: 40px;
  
    @media screen and (min-width: 425px) {
        align-self: center;
    }
}

.btnAdd {
  display: flex;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}
