.swiperHolder {
  margin-bottom: 40px;
}

.swiper {
  //   display: flex;
  //   width: 100%;
  //   height: auto;

  //   @media screen and (min-width: 1024px) {
  //     width: 75%;
  //   }
  //   //   @apply max-lg:w-3/4;
}

.slide {
  width: 250px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 250px;
  }

  @media screen and (min-width: 1024px) {
    width: 325px;
  }
}

.link {
  width: 100%;
}
